*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    boX-sizing:border-box;
}

.main{
    height:100vh;
    width:100%;
    background-color: #F3F4F6;;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    height:70vh;
    width:60vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 1.5rem;
   
}

.fir{
    padding: 20px;
    height:10vh;
    width: 100%;
}

.first{
    text-align:center;
}

.result{
    margin-top: 30px;
    padding: 20px;
    height:10vh; 
    width:100%
}

.sec{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align:center;
    font-size: 1.5rem;
}

#thir{
    height:60px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    width:90%;
}

#fo{
    height:10vh;
    display:flex;
    justify-content: center;
     margin-bottom: 50px;
}

#four{
    background-color: blue;
    border-radius: 1rem;
    height: 60px;
    width:200px;
    color:white;
    font-size: 1rem;
}

button:hover {
  background-color: darkblue;
  cursor: pointer;
}

